@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }
  .h4-semibold {
    @apply text-[18px] font-semibold leading-[24.8px];
  }
  .subtitle-1 {
    @apply text-[16px] text-gray-400 leading-[24.8px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .placeholder {
    @apply placeholder:text-light-400;
  }
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}

html {
  background: rgb(243 244 246);
  box-sizing: border-box;
}

body {
  background: rgb(243 244 246);
  box-sizing: border-box;
}

.max-w-5xl {
  max-width: 84rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
